@import "../../styles/data"

.iconContent
  .iconContent__netIconMainLeft
    position: absolute
    top: 100px
    left: calc(-600px + 21%)
    transform: scale(0.75)

  .iconContent__netIconMainRight
    position: absolute
    top: 100px
    right: calc(-700px + 26%)
