@import "data.sass"


body
  font-family: $fontFamilyText
  color: $fontColor
  background-color: $siteBgColor
  height: 100%
  margin: 0
  overflow-x: hidden

#root
  flex-grow: 1
  min-height: 100vh

header
  @include displayFlex(row, center)
  flex-wrap: wrap
  padding: 40px 0

  h1
    font-size: $fontBig
    font-weight: bolder
    font-family: $fontFamilyTitle
    text-align: center
  svg
    width: 100px


main
  .iconContent
    .netIconMainLeft
      position: absolute
      top: 100px
      left: calc(-600px + 21%)
      transform: scale(0.75)

    .netIconMainRight
      position: absolute
      top: 100px
      right: calc(-700px + 26%)
    .netSpace
      flex-grow: 5


  .mainContent
    background-color: $firstBgColor

    @media all and (min-width: $mediaSmallSize + 1px)
      height: $titleDivHeight
      padding: 50px 0

    @media all and (max-width: $mediaSmallSize) and (min-width: $mediaSmallerSize + 1px)
      height: $titleDivHeight - 50px
      padding: 40px 0

    @media all and (max-width: $mediaSmallerSize)
      height: $titleDivHeight
      padding: 40px 0


    .mainText
      @include displayFlex()
      span
        @media all and (min-width: $mediaSmallSize + 1px)
          font-size: $fontSmall
        @media all and (max-width: $mediaSmallSize)
          font-size: $fontSmall - 6px

      h2
        font-family: $fontFamilyTitle
        margin: 15px 0

        @media all and (min-width: $mediaSmallSize + 1px)
          font-size: $fontBigger

        @media all and (max-width: $mediaSmallSize)
          font-size: $fontMedium
          text-align: center

    .smoothieIcons
      @include displayFlex(row, center)
      @media all and (max-width: $mediaSmallSize)
        transform: scale(0.7)



  .infoContent.reverse
    @media all and (min-width: $mediaMediumSize + 1px)
      flex-direction: row-reverse

  .infoContent
    @media all and (min-width: $mediaBigSize + 1px)
      @include displayFlex(row, stretch)
      height: $infoDivHeight

    @media all and (max-width: $mediaBigSize) and (min-width: $mediaMediumSize + 1px)
      @include displayFlex(row, stretch)
      height: $infoDivHeight - 50px

    @media all and (max-width: $mediaMediumSize)
      @include displayFlex(column, center, stretch)
      text-align: center
      height: $infoDivHeight + 300px
      flex-wrap: wrap


    .infoText
      order: 1
      flex: 1
      min-width: 320px
      padding: 0 4%

      @media all and (min-width: $mediaBigSize + 1px)
        @include displayFlex(column, flex-start, right)
      @media all and (max-width: $mediaBigSize)
        @include displayFlex(column, center)

      h3
        font-family: $fontFamilyTitle

        @media all and (min-width: $mediaBigSize + 1px)
          font-size: $fontBig
        @media all and (max-width: $mediaBigSize) and (min-width: $mediaSmallSize + 1px)
          font-size: $fontBig - 6px
        @media all and (max-width: $mediaSmallSize)
          font-size: $fontMedium

      span
        line-height: 1.2

        @media all and (min-width: $mediaBigSize + 1px)
          font-size: $fontSmall
          padding: 20px 0

        @media all and (max-width: $mediaBigSize) and (min-width: $mediaSmallSize + 1px)
          font-size: $fontSmall - 2px
          padding: 15px 0

        @media all and (max-width: $mediaSmallSize)
          font-size: $fontSmall - 4px
          padding: 10px 0


    .infoImg1
      background: url("./assets/reimg1.png")
    .infoImg2
      background: url("./assets/reimg2.png")
    .infoImg3
      background: url("./assets/reimg3.png")

    .infoImg1, .infoImg2, .infoImg3
      display: flex
      flex: 1
      order: 2
      min-width: 50%
      height: inherit
      background-size: cover


  .newsletterContent
    @include displayFlex(row)
    background-color: $firstBgColor
    height: 180px

    .netIconNewsletter
      position: absolute
      transform: scale(0.4)
      right: calc(-600px + 30%)


    .newsletterText
      @include displayFlex(column, center, flex-start)
      width: 100%

      span
        font-weight: bold
        font-family: $fontFamilyTitle

        @media all and (min-width: $mediaSmallSize + 1px)
          margin: 20px 20% 20px 20%
          font-size: $fontSmall

        @media all and (max-width: $mediaSmallSize)
          margin: 20px 10% 20px 10%
          font-size: $fontSmall - 4px

      span:nth-last-child(1)
        font-family: $fontFamilyText
        font-weight: normal
        margin-top: 10px

        @media all and (min-width: $mediaSmallSize + 1px)
          margin: 20px 20% 20px 20%
          font-size: $fontSmaller + 2px

        @media all and (max-width: $mediaSmallSize)
          margin: 20px 10% 20px 10%
          font-size: $fontSmaller

      input
        background-color: whitesmoke
        color: $fontColor
        border: none
        padding: 8px 10px

        @media all and (min-width: $mediaSmallSize + 1px)
          width: 360px
          margin: 0 20%
          font-size: $fontSmall - 2px

        @media all and (max-width: $mediaSmallSize)
          width: 300px
          margin: 0 10%
          font-size: $fontSmall - 6px


footer
  @include displayFlex()
  font-size: $fontSmaller
  padding: 15px 0

  span
    margin: 8px 0

